@import "../typography/_typography.scss";
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin-top: 1em;
    padding-left: 5vw;
}
.accordionItem {
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid whitesmoke;

    @media(max-width: 1000px){
        width: calc(100% - 5vw);
    }
}

.accordionTitle {
    width: 100% !important;
    height: 2.5em;
    display: flex;
    gap: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.accordionContent {
    width: 100% !important;
    height: auto;
    min-height: 5em;
    padding-bottom: 1.5em;

    p {
        @include bodyText(16px, $secondaryColor);
        padding-left: 2em;
    }
}
