@import "../abstracts/_boxshadows.scss";
@import "../themes/_colorPalette.scss";

//sitewide button
@mixin button($width, $background, $color: $primaryColor, $hasBorder: false, $box-shadow: $box-shadow1-light) {
    width: $width;
    height: calc(#{$width} / 4.5);
    background: $background;
    color: $color;
    box-shadow: $box-shadow;
    border: 2px solid $background;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color, background .3s;
    user-select: none;
    font-size: 1.2em;
    &:hover, &:focus {

        @if $background == hsl(207, 90%, 54%) {
            border: 2px solid $tertiaryColor;
            background: $primaryColor;
            color: $tertiaryColor;
        }

        @if $background == hsl(0, 0%, 100%) {
            border: 2px solid $primaryColor;
            background: $tertiaryColor;
            color: $primaryColor;
        }
    }

    &:active {
        transform: translateY(4px);
    }

    &:hover {
        transform: scale(1.00);
    }

    &:active {
        transform: scale(.98)
    }

    @if $hasBorder {
        border: 2px solid $tertiaryColor;
    }
}