@import "_button.scss";
@import "../themes/_colorPalette.scss";

.QuoteTitle {
    h2 {
        display : flex;
        width   : 100%;
        align-items: center;
        color : $tertiaryColor;
    }
}

.QuoteButton {
    @include button(100%, $tertiaryColor, $primaryColor, true);

    &:hover {
        transform: scale(1)
    }

    &:active {
        transform: scale(1)
    }

    aspect-ratio: unset;
    height : 4vh;
}

.quoteContainer {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows : auto 1fr 1fr;
    padding            : 0 1vw 0 1vw;

    @media(max-width: 716px) {
        display : flex;
        flex-direction: column;
    }
}

.quoteCol1 {
    grid-column: 1/2;
    grid-row : 1/2;
    padding  : .5rem;

    div {
        font-weight: 100;
    }

    @media(max-width: 716px) {
        all: inherit;
    }
}

.quoteCol2 {
    grid-column: 2/3;
    grid-row : 1/2;
    padding  : .5rem;

    div {
        font-weight: 100;
    }

    @media(max-width: 716px) {
        all: inherit;
    }
}

.quoteCol3 {
    grid-column: 3/4;
    grid-row : 1/2;
    padding  : .5rem;

    div {
        font-weight: 100;
    }

    @media(max-width: 716px) {
        all: inherit;
    }
}

.quoteMessage {
    grid-column: 1/-1;
    grid-row : 2/4;
    padding  : .5rem;

    :hover {
        border: 1px solid #000;
    }

    :focus {
        border: 2px solid #2196f3;
    }
}

.quoteTextArea {
    width     : 0;
    min-width : 100%;
    padding   : .7rem;
    border    : 1px solid #c4c4c4c4;
    border-radius: 3px;
    font-size : 1rem;
}

.quoteAsterisk {
    span {
        color: red;
    }
}

.quoteOuterContainer {
    display : flex;
    justify-content: center;

    div {
        color : $secondaryColor;
        text-align: center;

        @media(max-width: 1000px) {
            width : 100%;
            margin-bottom: .2em;
        }

        p {
            margin: 0;
        }
    }
}