.skeleton{
    animation: skeletonLoading 1s linear infinite alternate;
}

.skeletonText{

    width: 100%;
    height: .5em;
    margin-bottom: .25em;
    border-radius: .125em;

        &:last-child{
            width: 80%;
            margin-bottom: 0;
        }
}



@keyframes skeletonLoading {
    0% {
        background-color: hsl(200,20%,70%)
    }

    100% {
        background-color: hsl(200,20%,95%)
    }
}